<!-- views/404.ejs -->
<section class="job-portal">
    <div class="container job-portal-wrap">
        <div class="row">
            <div class="col-md-4 mx-auto d-block not-found-wrap">
                <div>
                    <img src="/images/coffee.png" alt="images/coffee.png" class="mx-auto d-block" width="20%" height="auto" style="margin-bottom: 40px;margin-top: 40px;">
                    <h1 class="text-center not-found-h1">404</h1>
                    <h3 class="text-center not-found-h3">Page not found!</h3>
                    <p class="text-center not-found-p">Sorry, it appears that the page you're trying to find has gone on a coffee break.</p>
                    <a href="/" class="btnn-link text-center mx-auto d-block" style="margin-bottom: 60px;">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>